.cuerpo-perfil {
    display: flex;
    justify-content: center;
    height: 71rem;
    width: 100%;
    padding-top: 5rem;
    padding-left: 5rem;
    box-sizing: border-box;
}
.contenedor-lateral{
     color:#B7950B;
    width: 300px;
    padding-left: 2rem;
    border-right: solid gray 0.1rem;
}
.titulo-bienvenida{
    font-size: 2rem; 
}
.imagen-perfil{
    padding-right: 1rem;
}
.usuario-compra-vende{
    font-size: 1.2rem;
    color: #9E9E9E;
    padding-left: 4.3rem;
}
.contenedor-central-compras{
    width: 100%;
    padding-left: 10rem;
    padding-right: 5rem;
}
.titulo-contenedor{
    width: 95%;
}
.linea{
    border-bottom: solid gray 0.1rem;
    display: flex;
    padding-bottom: 2rem;
}
.producto-compra{
    display: flex;
    border-bottom: solid #CCD1D1  0.1rem;
    padding-bottom: 0.1rem;   
}
.precio-producto{
    font-size: 3rem;
    color: #212529;
}
.envio-compra{
    color: rgb(55, 165, 55);
}
.contenedor-imagen{
    width: 200px;
    height: 120px;
}
.imagen-producto-compra{
    padding-left: 1rem;
    height: 80%;
}
.foto-tienda{
    padding-right: 1rem;
}

.despcripcion-producto{
    width: 40%;
    padding-left: 1rem;
}
.vendedor-producto-compras{
    width: 40%;
}
.detalle-producto{
    width:;
}
.producto-compra-2{
    display: flex;
    border-bottom: solid #CCD1D1  0.1rem;
    padding-bottom: 0.8rem;
    padding-top: 2rem;
}
.paginacion{
    padding-top: 5rem;
    display: flex;
    justify-content: center;
    
}
.pagina-numero{
    padding-right: 1rem;
}
.boton-favoritos{
    padding-bottom: 1rem;
}
.selecion-eliminar{
    padding-top: 2rem;
}
.btn-eliminar{
    background: transparent;
}
.btn-eliminar:hover{
    background-color: #B7950B;
    color: white; 
}

.btn1:hover {
    background-color: #B7950B;
    color: white;
    
}
.btn1 {
    background-color: #585556;
    color: white;   
}