html{
    font-size: 62.5%; /* se Usa para poder hacer que 1 Rem sea igual a 10px y asi tener mejor control en el resm*/
}
.mt_10{
    margin-top: 1rem;
}
.mt_40{
    margin-top: 4rem;
}

.mtb_40 {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

ul li {
    list-style: none;
}

.pull-left {
    float: left !important;
}

.pull-right {
    float: right !important;
}

.color_negro{
    color: black;
}

.color-oscuro{
  background-color: #37474f;
}

.imagen_Carrusel{
    width: 800px;
    height: 600px;
    opacity: 0.55;
}

/* ----------------------------------------------
	 Tipografia
----------------------------------------------- */

a {
    cursor: pointer;
    text-decoration: none;
    color: #9E9E9E;
    transition: all 0.25s ease 0s;
    -moz-transition: all 0.25s ease 0s;
    -webkit-transition: all 0.25s ease 0s;
    -o-transition: all 0.25s ease 0s;
}
a:hover, a:focus {
    color: rgb(255, 145, 0);
    text-decoration: none;
    transition: all 0.25s ease 0s;
    -moz-transition: all 0.25s ease 0s;
    -webkit-transition: all 0.25s ease 0s;
    -o-transition: all 0.25s ease 0s;
}
a, a:focus, a:active, a:link, img {
    outline: none;
    text-decoration: none;
}
a.active {
    color: #000;
}
p {
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 0px;
}
h1 {
    font-size: 3.6rem;
    line-height: 4.2rem;
}
h2 {
    font-size: 3rem;
    line-height: 3.6rem;
}
h3 {
    font-size: 2.2rem;
    line-height: 2.6rem;
}
h4 {
    font-size: 1.8rem;
    line-height: 2.2rem;
}
h5 {
    font-size: 1.6rem;
    line-height: 2rem;
}
h6 {
    font-size: 1.4rem;
    line-height: 1.8rem;
}
.uppr {
    text-transform: uppercase;
}
.lower {
    text-transform: lowercase;
}
.capitalize {
    text-transform: capitalize;
}